<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   recentChatList.plist
   emw_demo

   Created by 王宇 on 15/9/23.
   Copyright (c) 2015年 emodel. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
